<!-- <body data-layout="horizontal"> -->
<!-- Begin page -->
<div id="layout-wrapper">
    {{>headeremp}}
    {{>sidebaremp}}
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                        {{>pagetitle}}
                        <!-- end page title -->
                <!-- Start row -->
                <form action="/emp/search" method="post">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Registro</h4>
                                    <p class="card-title-desc">Seleccione la fecha.</p>
                                </div>
                                <div class="card-body">

                                        <div class="mb-4">
                                            <label class="form-label" for="fecha-desde-">Fecha desde</label>
                                            <input class="form-control" type="date" name="start_date" id="fecha-desde">
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label" for="fecha-hasta">Fecha hasta</label>
                                            <input class="form-control" type="date" name="end_date" id="fecha-hasta">
                                        </div>

                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Orígen del expediente
                                    </h4>
                                    <p class="card-title-desc">Seleccione si es externo o interno</p>
                                </div>
                                <div class="card-body">
                                    <div class="mb-3">
                                      <label for="">Orígen</label> &nbsp;&nbsp;
                                      <input type="radio" id="interno" name="origen" value="Interno">
                                      <label for="interno" class="">Interno</label>&nbsp;
                                      <input type="radio" id="externo" name="origen" value="Externo">
                                      <label for="externo" class="">Externo</label>
                                    </div>

                                    <div class="mb-4">
<<<<<<< HEAD
                                        <label for="">Dependencia</label>
                                        <select name="dependencia" id="" class="form-control">
                                            <option value="0">-----Todos------</option>
                                            <option value="1">Gerencia</option>
                                            <option value="2">Tesorería</option>
                                            <option value="3">Secretaría</option>
=======
                                        <label for="">Oficina</label>
                                        <select name="oficina" id="oficina" class="form-control">
                                            <option value="1">-----Todos------</option>
                                            <option value="2">Gerencia</option>
                                            <option value="3">Tesorería</option>
                                            <option value="4">Secretaría</option>
>>>>>>> origin/Erickson
                                        </select>
                                    </div>

                                    <div>
                                        <label for="">Detalle</label>
                                        <input name="detalle" id="detalle" type="text" class="form-control">
                                    </div>
                                    <div>
                                        <label for="">Firma</label>
                                        <input name="firma" id="firma" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- End row -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Datos del expediente</h4>
                                    <p class="card-title-desc"></p>
                                </div>
                                <div class="card-body p-4">

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div>
                                                <div class="mb-3">
                                                    <label for="">Tipo de expediente</label>
                                                    <select name="tipo_expediente" id="tipoexp" class="form-control">
                                                        <option value="0">-----Todos------</option>
                                                        <option value="1">Oficio</option>
                                                        <option value="2">Carta</option>
                                                        <option value="3">Memorandum</option>
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="">Siglas</label>
                                                    <input type="text" name="siglas" id="siglas" class="form-control">
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mt-3 mt-lg-0">
                                                <div class="mb-3">
                                                    <label for="">Número</label>
                                                    <input type="number" name="numero" id="numero" class="form-control">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="">Asunto</label>
                                                    <input type="text" name="asunto" id="asunto" class="form-control">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary">Buscar</button>
                    </div>
                </form>
                <!-- end row -->
                {{!-- end row --}}


            </div><!-- end col -->
        </div>
        <!-- end row-->
        {{!--resposive table --}}
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Resultado de la busqueda</h4>
                        <p class="card-title-desc">

                        </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col"><input type="checkbox"></th>
                                        <th scope="col">Reg</th>
                                        <th scope="col">Origen</th>
                                        <th scope="col">Firma</th>
                                        <th scope="col">Cargo</th>
                                        <th scope="col">Documento</th>
                                        <th scope="col">Fecha Doc.</th>
                                        <th scope="col">Asunto</th>
                                        <th scope="col">Derivado a</th>
                                        <th scope="col">Ver</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  {{#each rows}}
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td>{{num_doc}}</td>
                                        <td>{{id_depto_origen}}</td>
                                        <td>{{firma}}</td>
                                        <td>{{cargo}}</td>
                                        <td>{{nombre_doc}}</td>
                                        <td>{{fecha}}</td>
                                        <td>{{nombre_Expediente}}</td>
                                        <td>id_depto_actual</td>
                                        <td>
                                          <form action="/emp/tramites/pdf" method="post">
                                            <input type="submit" name={{num_doc}} role="a" class="material-icons"
                                              value="picture_as_pdf" style="background:none;border:none;color:white;" />
                                          </form>
                                        </td>
                                    </tr>
                                  {{/each}}
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!-- end card body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- container-fluid -->
</div>
<!-- End Page-content -->



{{>footer}}
</div>
<!-- end main content-->
</div>
<!-- end main content-->

</div>
<!-- END layout-wrapper -->
{{!-- end search code --}}
