    <!-- <body data-layout="horizontal"> -->
        <!-- Begin page -->
        <div id="layout-wrapper">
            {{>headeremp}}
    {{>sidebaremp}}
             <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        {{>pagetitle}}
                        <!-- end page title -->
                        {{!-- start content --}}
<div class="row">
            <div class="col-12 mb-5">
                {{>menuAcciones}}
            </div>
                <div class="col-12">
                    <table class="table table-sm table-hover table-striped">
                        <thead>
                            <tr>
                                <th scope="col"><input type="checkbox"></th>
                                <th scope="col">Registro</th>
                                <th scope="col">Origen</th>
                                <th scope="col">Firma</th>
                                <th scope="col">Documento</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Asunto</th>
                                <th scope="col">Derivado a</th>
                                <th scope="col">Ver</th>
                            </tr>
                        </thead>
                        <tbody>
                          {{#each rows}}
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>{{num_doc}}</td>
                                <td>{{origen}}</td>
                                <td>{{firma}}</td>
                                <td>{{cargo}}</td>
                                <td>{{nombre_doc}}</td>
                                <td>{{fecha}}</td>
                                <td>{{nombre_Tramite}}</td>
                                <td>{{derivar_a}}</td>
                                <td>
                                  <form action="/emp/docprocess/pdf" method="post">
                                    <input type="submit" name={{num_doc}} role="a" class="material-icons" value="picture_as_pdf" style="background:none;border:none;color:white;"/>
                                  </form>
                                </td>
                            </tr>
                          {{/each}}
                        </tbody>
                    </table>
                </div>



</div>

                        {{!-- end content --}}
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->


                {{>footer}}
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->


{{!-- end codepage --}}
        {{!-- <div class="container-fluid"> --}}
            <!-- derivar un documento -->
                <div class="modal fade" id="derivarDoc" tabindex="-1" aria-labelledby="derivarDoc"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="derivarDoc">En Proceso [Derivar]</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="post">
                                    <div class="mb-3">
                                        <label for="">Registros que sera derivados</label><br>
                                        <input class="form-input" name="derivarregistros" id="0057" disabled type="text" value="0057"><br>
                                        <input class="form-input" name="derivarregistros" id="0053" disabled type="text" value="0053"><br>
                                        <input class="form-input" name="derivarregistros" id="0078" disabled type="text" value="0078">
                                    </div>
                                    <div class="mb-3">
                                        <label for="recipient-name" class="">Oficina:</label>
                                        <input type="text" name="oficima-name" id="oficina-name" placeholder="Gerencia" disabled>

                                    </div>
                                    <div class="mb-3">
                                        <div class="form-floating">
                                            <select class="form-select" name="selectusuario" id="selectusuario"
                                                aria-label="Floating label select example">
                                                <option selected>Selecciona un usuario</option>
                                                <option value="1">Roberto</option>
                                                <option value="2">Carlos</option>
                                                <option value="3">Stefanny</option>
                                            </select>
                                            <label for="floatingSelect">Usuarios</label>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="form-floating">
                                            <textarea class="form-control text-dark"
                                                placeholder="Por ejemplo 'Para su conocimiento'"
                                                name="acciones" id="acciones"></textarea>
                                            <label for="floatingTextarea">Acciones</label>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="message-text" class="">Adjuntar doc. Físicos:</label>
                                        <input type="checkbox" name="adjuntardocumentos">

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Derivar documento</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            <!-- eliminar derivación -->
            <div class="modal fade text-dark" id="eliminarDerivacion" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ¿Deseas eliminar los registros seleccionados?
                        </div>
                        <form action="" method="post">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Eliminar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Adjuntar documento a otro -->
            <div class="modal fade text-dark" id="adjuntarDocumento" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">En proceso [archivar]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <div class="form-floating">
                                        <select class="form-select" id="adjuntardocumentos" name="adjuntardocumentos" aria-label="Floating label select example">
                                            <option selected>4-0</option>
                                            <option value="1">38</option>
                                            <option value="2">74</option>
                                            <option value="3">03</option>
                                        </select>
                                        <label for="adjuntardocumentos">Adjuntar al documento</label>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="form-floating">
                                        <textarea class="form-control text-dark"
                                            placeholder="Por ejemplo 'Para su conocimiento'" name="accionesadjuntar"
                                            id="accionesadjuntar"></textarea>
                                        <label for="accionesadjuntar">Acciones</label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Archivar documento -->
            <div class="modal fade text-dark" id="archivarDocumento" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <label for="">Registros que seran archivados</label>
                                    <input type="text" name="registrosparaarchivar" id="registrosparaarchivar" placeholder="00078" disabled>
                                </div>
                                <div class="mb-3">
                                    <div class="form-floating">
                                        <select class="form-select" id="archivador" name="archivador"
                                            aria-label="Floating label select example">
                                            <option selected>01</option>
                                            <option value="1">02</option>
                                            <option value="2">03</option>
                                            <option value="3">04</option>
                                        </select>
                                        <label for="floatingSelect">Archivador</label>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="form-floating">
                                        <textarea class="form-control text-dark" name="accionesarchivador"
                                            placeholder="Por ejemplo 'Se comunico por correo o whatsapp'"
                                            id="accionesarchivador"></textarea>
                                        <label for="floatingTextarea">Acciones</label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        {{!-- </div> --}}
    </div>
